.App {
  text-align: center;
  font-family: 'Jost', sans-serif;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 60%;
  height: 100vh;
  background-color: #3b3f47;
}

.container{
  display: flex;
  flex-direction: column;
}

.field-wrapper {
  width: 100;
  height: 100%;
  background-color: #3b3f47;
  display: flex;


}

.field-wrapper > canvas {
  height: 95vh;
  width: 80vw;
}

.Scoreboard{
  height: 5vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3f47;
}
